body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  color: white;
  background-image: url("./src/assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.principal-container {
  padding: 30px;
  display: none;
  justify-content: space-evenly;
  height: 90vh;
  display: none;
}
.first-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.send-answer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.answer-container {
  margin-left: 140px;
}
.answer-input {
  width: 500px;
  height: 50px;
  background: #404156;
  border-radius: 10px;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #bababa;
  padding-left: 10px;
}
.answer-button {
  width: 150px;
  height: 60px;
  background: #00943b;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset -5px -10px 20px rgba(53, 53, 53, 0.2);
  border-radius: 50px;
  font-family: "Press Start 2P", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f7f7f7;
}
.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.players {
  width: 300px;
  height: 500px;
  background: #212339;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
}
.players #players-title {
  font-family: "Press Start 2P", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 17px;
  color: #f7f7f7;
}
.players #player {
  font-family: "Press Start 2P", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #f7f7f7;
}
.players #players-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.playing {
  color: #00943b;
}
.button-out {
  width: 142px;
  height: 60px;
  margin-bottom: 100px;
  margin-top: 30px;
  background: #c30000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset -5px -10px 20px rgba(53, 53, 53, 0.2);
  border-radius: 50px;
  font-family: "Press Start 2P", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #f7f7f7;
}
#respostas {
  background: #c4c4c4;
  position: fixed;
}
#drawing-board {
  position: relative;
  background: #f7f7f7;
  border-radius: 0 10px 10px 0;
  height: 100%;
  width: 800px;
}
.drawing-board {
  height: 90%;
}
span {
  font-family: "Press Start 2P", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 17px;
  color: #353535;
}
p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #353535;
}
canvas {
  width: 100%;
}
.container {
  height: 75%;
  display: flex;
  margin-bottom: 20px;
}
#toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  width: 70px;
  height: 88%;
  background: #999999;
  border-radius: 10px 0 0 10px;
}
#toolbar label {
  font-size: 12px;
}
#toolbar input {
  width: 100%;
}
#toolbar button {
  background-color: #1565c0;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 2px;
}
.show-answer {
  width: 629px;
  height: 100px;
  background: #c4c4c4;
  border-radius: 10px;
  padding: 20px;
  overflow: auto;
}
#start {
  margin-top: 30px;
  margin-right: 20px;
  background-color: #f4f2f5;
  border-radius: 50px;
  width: 150px;
  height: 30px;
  font-family: "Press Start 2P";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #212339;
}
